---
layout: default
---

<section class="post">
  <!-- 
  https://pygments.org/styles/
  monokai
  perldoc //GOOD
  gruvbox-light
  friendly
  -->
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/perldoc.css"> 
  
  <!-- I do not want monokai at time where I can not see text with dark bg; thinking of alternatives, let me see! YAY perldoc is cool! Fri, 12-Apr-2024, 01:52:27 IST
  DOWNLOAD TO BLOG ROOT. USE FROM https://github.com/richleland/pygments-css
  
  gruvbox-light was not working pygments 2.2 did not have that style
  pip install pygments=2.17
  -->
  <h2>{{ page.title }}</h2>


  {{content}}


  <span class="meta">
    ★
    {% assign words = content | number_of_words %}
    {{ words | plus:179 | divided_by:180  }} min read
    &middot;
    <a href="/" > {{ page.author }}</a>
    &middot;
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%b-%Y %T (%Z)" }}</time>
<!--
    date: "%d-%b-%Y %T %Z (UTC%z)"
-->
    ★
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tag/{{tag}}"> {{tag}} </a>
    {% unless forloop.last %},
      {% endunless %}
    {% endfor %}
  </span>


  <script src="https://utteranc.es/client.js"
        repo="mrprajesh/blog"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>



  <!--<span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  -->
</section>


